<div class="form-container">
    <h1>Rover Input Form</h1>
    <form (ngSubmit)="onSubmit()" class="form-group" [formGroup] = "inputForm">
        <mat-form-field appearance="fill">
            <mat-label>Plateau Coordinates</mat-label>
            <input matInput placeholder="5 5" formControlName="plateau" required>
            <mat-error *ngIf="inputForm.controls.plateau.invalid">{{getErrorMessage("plateau")}}</mat-error>
        </mat-form-field>
        
        <div formArrayName ="roversArray">
            
            <div class="rover-group" *ngFor="let item of getRoversArray(); let i=index" [formGroupName] = i>
                
                    <h3>Rover {{i + 1}} </h3>
                    <mat-form-field appearance="fill">
                    <mat-label>Rover Coordinates and Orientation</mat-label>
                    <input matInput placeholder="1 2 N" formControlName="rover" required>
                    <!-- <mat-error *ngIf="inputForm.controls.rover.invalid">{{getErrorMessage("rover")}}</mat-error> -->
                    </mat-form-field>
                
                
                <mat-form-field appearance="fill">
                    <mat-label>Instructions</mat-label>
                    <input matInput placeholder="LMLMLMLMM" formControlName="instructions" required>
                    <!-- <mat-error *ngIf="inputForm.controls.instructions.invalid">{{getErrorMessage("instructions")}}</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div>
            <button mat-raised-button color="basic" (click)="addRover()">Add Additional Rover</button>
            <button mat-raised-button color="basic" (click)="removeRover()">Remove Last Rover</button>
        </div>
        
        <button mat-raised-button color="primary" [disabled]="!inputForm.valid" type="submit">Submit</button>
    </form>

    <div *ngFor = "let result of output; let roverNumber = index">
        {{roverNumber + 1}} : {{result.x}} {{result.y}} {{result. orientation}}
    </div>
    <!-- <p>{{x}} {{y}} {{orientation}}</p> -->
</div>