<div class="form-container">
    <div class="row">
      <div class="col formCol">
        <form (ngSubmit)="onSubmit()" class="form-group borderForm" [formGroup]="inputForm">
          <div class="scrollable">
            <h2>Rover Input Form</h2>
            <mat-form-field appearance="fill">
              <mat-label>Plateau Coordinates</mat-label>
              <input matInput placeholder="5 5" formControlName="plateau" required>
              <mat-error *ngIf="inputForm.controls.plateau.invalid">{{getErrorMessage("plateau")}}</mat-error>
            </mat-form-field>
  
            <div formArrayName="roversArray">
              <div class="rover-group" *ngFor="let item of getRoversArray(); let i=index" [formGroupName]=i>
                <h4> Rover {{i + 1}} </h4>
                <mat-form-field appearance="fill">
                  <mat-label>Rover Coordinates and Orientation</mat-label>
                  <input matInput placeholder="1 2 N" formControlName="rover" required>
                  <mat-error *ngIf="item.invalid">{{getErrorMessage("rover", item)}}</mat-error>
                </mat-form-field>
  
                <mat-form-field appearance="fill">
                  <mat-label>Instructions</mat-label>
                  <input matInput placeholder="LMLMLMLMM" formControlName="instructions" required>
                  <mat-error *ngIf="item.invalid">{{getErrorMessage("instructions", item)}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="formInputs">
            <div class="add-remove-button-group">
              <button mat-raised-button color="basic" (click)="addRover()" type="button">Add A Rover</button>
              <button mat-raised-button color="basic" (click)="removeRover()" type="button">Remove Last Rover</button>
            </div>
            <button class="lgBtn" mat-raised-button color="primary" [disabled]="!inputForm.valid"
              type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="col tableCol">
        <div class="output-table">
          <h2>Rover Output Table</h2>
          <table mat-table [dataSource]="output" class="mat-elevation-z8 material-table">
            <ng-container matColumnDef="num">
              <th mat-header-cell *matHeaderCellDef><img width=25 height=36 src="../../assets/Rover.PNG" /></th>
              <td mat-cell *matCellDef="let item; let i=index;"> Rover # {{i + 1}}</td>
            </ng-container>
  
            <ng-container matColumnDef="x">
              <th mat-header-cell *matHeaderCellDef> X </th>
              <td mat-cell *matCellDef="let item"> {{item.isOutOfBounds ? "Rover is" : item.x}} </td>
            </ng-container>
  
            <ng-container matColumnDef="y">
              <th mat-header-cell *matHeaderCellDef> Y </th>
              <td mat-cell *matCellDef="let item"> {{item.isOutOfBounds ? "Out of" : item.y}} </td>
            </ng-container>
  
            <ng-container matColumnDef="orientation">
              <th mat-header-cell *matHeaderCellDef> <span class="material-icons-outlined"> Orientation</span> </th>
              <td mat-cell *matCellDef="let item"> {{item.isOutOfBounds ? "Bounds" : item.orientation}} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <h3 *ngIf="output.length === 0">No Rovers to Display</h3>
        </div>
      </div>
    </div>
</div>