.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.form-container {
    display:flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%; 
    margin-top: 5%;
    
    justify-content: center;
}

.form-group {
    display:flex;
    flex-direction: column;
    margin-right: 10%
}

.rover-group {
    display:flex;
    flex-direction: column;
}

.add-remove-button-group {
    margin-bottom: 5%;
}


.output-table {
    min-width: 400px;
    margin: 25px 0;
    border-collapse: collapse;
}

.output-table thead tr {
    background-color: #EE6002;
}

.output-table th,
.output-table td {
    padding: 12px 15px;
    min-width: 70px;
    text-align: center;
}

.output-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.output-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}


