.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.form-container {
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.form-group {
    display:flex;
    flex-direction: column;
}

.rover-group {
    display:flex;
    flex-direction: column;
}
